---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
	    <div class="wrapper">
			<header>
				<div class="img-container">
					<!-- <img class="logo-header" src="../Img/amunet.png" alt="Amunet"> -->
				</div>
				<nav class="menu">
					<ul class="ul-menu-header">
						<li><a href="Tatuajes">Tatuaje</a></li>
						<li><a href="About.html">About</a></li>
						<li><a href="Services.html">Services</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="hola">morefuture</a></li>                    
					</ul>
				</nav>
			</header>
			<main class="video-container">
				<img class="logo-main" src="../../public/Img/amunet.png" alt="Amunet">
				<video class="video-background" src="../../public/Img/video.mp4" autoplay muted></video>
			</main>
		</div>
	</main>
</Layout>
<style>
	


</style>