---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
    <div class="wrapper">
        <header class="header-Tatuajes">
            <div class="img-container">
                <a class="a-logo-header" href="./" >
                    <img class="logo-header" src="../Img/amunet.png" alt="Amunet">
                </a>
            </div>
            <nav class="menu">
                <ul class="ul-menu-header">
                    <li><a href="./Tatuajes">Tatuaje</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                    <li><a href="hola">morefuture</a></li>    
                </ul>
            </nav>
        </header>
        <main class="content-tatuajes">
            <div class="slide-one">
                <div class="title">
                    <h1>Estilo Japones</h1>
                </div>
                <div class="imagenes">
                    
                </div>
            </div>
            <div class="slide-one">
                <div class="title">
                    <h1>Estilo Japones</h1>
                </div>
                <div class="imagenes">
                   
                </div>
            </div>
            <div class="slide-one">
                <div class="title">
                    <h1>Estilo Japones</h1>
                </div>
                <div class="imagenes">
                  
                </div>
            </div>
        </main>
    </div>
</Layout>