---
import Layout from "../layouts/Layout.astro";
//enviar una props a un componente
import { tatuajes } from "../data/tatuajes";
import List from "../components/List.astro";
// tomamos los primeros 4 elementos de mi array de tatuajes
const tatuajesSelect1 = tatuajes.slice(0, 5);
const tatuajesSelect2 = tatuajes.slice(5, 10);
const tatuajesSelect3 = tatuajes.slice(10, 15);
---

<Layout title="Home">
  <div class="wrapper">
    <header class="header-Tatuajes">
      <div class="img-container">
        <a class="a-logo-header" href="./">
          <img
            class="logo-header finally-header-00"
            src="../Img/amunet.png"
            alt="Amunet"
          />
        </a>
      </div>
      <nav class="menu">
        <ul class="ul-menu-header">
          <li><a href="./Tatuajes">Tatuaje</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="Services.html">Services</a></li>
          <li><a href="Contact.html">Contact</a></li>
          <li><a href="hola">morefuture</a></li>
        </ul>
      </nav>
    </header>
    <main class="content-tatuajes">
      <div class="slide-one">
        <h1 class="nueva">Lineal</h1>
        <ul class="imagenes-ul">
          <List tatuajes={tatuajesSelect1} />
        </ul>
      </div>
      <div class="slide-one">
        <h1 class="nueva">Color</h1>
        <ul class="imagenes-ul">
          <List tatuajes={tatuajesSelect2} />
        </ul>
      </div>
    </main>
  </div>
</Layout>
<style>
  main {
    width: 100%;
    height: 100vh;
  }
  .nueva {
    margin: 50px 0;
  }

  .imagenes-ul {
    display: flex;
  }

  .img_tatuajes-slider {
    width: 90%;
    height: 90%;
  }
</style>
